# Supabase
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_KEY=your-service-role-key

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200

# Redis
REDIS_URL=redis://localhost:6379

# Map (Get key from https://cloud.maptiler.com)
NEXT_PUBLIC_MAPTILER_KEY=TrCfekmv7jylPSiqmMwc

# AI Chatbot (Python backend)
GROQ_API_KEY=your-groq-key
TAVILY_API_KEY=your-tavily-key
LANGSMITH_API_KEY=your-langsmith-key
NEXT_PUBLIC_CHAT_API_URL=http://localhost:8000
