--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
python-dotenv
groq
supabase
sentence-transformers
torch
openai
cachetools
tavily-python
langchain-community
langchain-huggingface
pydantic
bs4
lxml
redis
